<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a href="/" class="navbar-brand">My Amazing App</a></div>
      <ul class="nav navbar-nav">
        <li><a href="/">home</a></li>
        <li><a href="/collections">collection demo</a></li>
        <li><a href="/info">more info</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <main data-hook="page-container"></main>
    <footer class="footer-main">
      <nav class="nav-footer cf">{{!--  Three columns of links--}}
        <div><a href="http://ampersandjs.com/learn" class="nav-item external">Learn</a><a href="http://ampersandjs.com/docs" class="nav-item external">Docs</a><a href="http://tools.ampersandjs.com" class="nav-item external">Modules</a></div>
        <div><a href="https://gitter.im/AmpersandJS/AmpersandJS" class="nav-item external">Chatroom</a><a href="https://trello.com/b/UxylNzHr/ampersand-js-roadmap" class="nav-item external">Roadmap</a><a href="http://ampersandjs.com/contribute" class="nav-item external">Contribute</a></div>
        <div><a href="http://ampersandjs.com/security" class="nav-item external">Security</a><a href="https://github.com/ampersandjs" class="nav-item external">Github</a><a href="https://twitter.com/ampersandjs" class="nav-item external">Twitter</a></div>
      </nav>
      <p>Sponsored by <a href="https://andyet.com">&amp;yet </a><br>with the help of our <a href="http://ampersandjs.com/contribute">contributors</a></p><a href="http://ampersandjs.com" class="logo logo-ampersand-pink">&amp;</a></footer>
  </div>
</body>